.productCards{
    display: flex;
    /* flex-direction: column; */
    justify-content: left;
    align-items: space-between;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    width: 100%;

}

.productCards .productCard{
    width: 23%;
    margin: 2%;
    background-color:rgba(25, 70, 138, 0.226);
    padding:2%;
    
}

/* .productCards .productCard p, .productCards .productCard h3{
    padding: 2% 5% ;
    
} */
.productCards .productCard p{
    font-weight: 800;
    font-size: 20px;
    color: rgb(25, 70, 138);
}
.productCards .productCard h3{
    font-weight: 800;
    font-size: 20px;
    text-transform: capitalize;
    color: rgb(202, 25, 123);
}

.image{
    width: 100%;
    
    
}